
html, body, .main-grid {
	height: 100%;
}
body {
  overflow: hidden;
	margin: 0;
}
body, textarea, select, input:not([type="radio"]) {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #333334;  
  font-size: 1rem;
}
h1 {
  margin: 0;
  color: #005577;
}
section, div.footer-grid {
  padding: 0.7rem;
}
select, input:not([type="radio"]) {
  background-color: #CEDEE5;
}
label.doneby-item {
  padding: 0.15rem;
}
input[type="radio"] {
  appearance: none;
  width: 14px;
  height: 14px;
  background: white;
  box-shadow: inset 0 0 0 .2em white, 0 0 0 .15em;
  border-radius: 50%;
  transition: .2s;
  cursor:pointer;
  color: #777778;
  margin: 0;
  padding: 0;
}
input[type="radio"]:hover {
  background: #777778;
  box-shadow: inset 0 0 0 .2em white, 0 0 0 .15em #777778;
}
input[type="radio"]:checked {
  background:  #0072CE;
  box-shadow: inset 0 0 0 .2em white, 0 0 0 .15em #69B3E7;
} 
input[type="radio"]:focus { 
  outline: 0; 
}
textarea  {
  border: 1px solid #0072CE;
  border-radius: 0.5rem; 
}
textarea:focus, select:focus, input:focus { 
  outline: 1.5px solid #0072CE;  
}

/* FLEXBOX */
.main-grid {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid #0072CE;
  margin: 1rem 10%;
  overflow: hidden;
  /*margin: 1rem auto 1.5rem;*/
  /*width: 70rem;*/
}
.main-grid > .header-grid {
  height: 125px;
}
.main-grid > .footer-grid {
  height: 50px;
}
.main-grid > .content-grid {
  flex: 1 1 auto;
  overflow-y: scroll;
}
/*.main-grid > * {
  overflow-y: scroll;
}
*/
.doneby-gridrow, .menu-grid {
  display: flex;
  flex-direction: row; 
  /*flex-wrap: wrap;*/
  justify-content: flex-start;
  align-items: stretch;
}
.doneby-gridcol {
  display: flex;
  flex-direction: column; 
  justify-content:flex-start;
  align-items: stretch;
  /*align-content: flex-start;*/
  /*flex: 1 1 auto;*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-right: 0.5rem;
}
.doneby-item {
  /*flex: 1 0 auto;*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid #0072CE;
  border-bottom: 0;
}
.doneby-item:last-child {
  border-bottom: 1px solid #0072CE;
}
.menu-grid > a {
/*.menu-item {*/  
  /*flex: 1 1 auto;*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  border: 1px solid #FF6633;
  margin-right: 0.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
}
.menu-grid > a:last-child, .doneby-gridcol:last-child {
  margin-right: 0;
}
.menu-grid > a:hover {
  background-color: #FF6633;
  color: #FFF;
}
.clicked {
  background-color: #FF6633;
  color: #FFF;
}
.unclicked {
  background-color:  #FFF;
  color: #FF6633;
}
fieldset, .fs-grid {
  display: flex;
  flex-direction: column; 
  justify-content:space-around;
  align-items: stretch;
  margin: 0 0 0.7rem;
  padding: 0.7rem;
  border: 2px solid #0072CE;  
  border-radius: 0.5rem;
}
legend {
  background: #0072CE;
  padding: 0rem 1rem 0.25rem;
  border-radius: 1rem;
  color: #FFF;
  font-weight: bold;
}
.fs-header-grid {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
.fs-header-item{
  width: 100px;
  border: 1px solid #0072CE;
  border-right: none;
  text-align: center;
  font-size: 0.9rem;
}
.fs-header-item:first-child{
  border: none;
  border-bottom: 1px solid #0072CE;
}
.fs-header-item:last-child{
  border-right: 1px solid #0072CE;
}
.fs-row-grid, .comment-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.15rem;
}
.fs-row-item{
  text-align: center;
  width: 100px;
}
.fs-header-item:nth-child(1), .fs-row-item:nth-child(1), .comment-item:last-child {
  flex: 1 0 auto;
  text-align: left;
}
.comment-item {
  padding-right: 0.5rem;
}



.fs-row-item > span {
  font-weight: bold;  
  padding-right: 0.5rem;
}
.fs-row-item > span.unchecked {
  color:red;
}
.fs-row-item > span.checked {
  color:green;
}




/*Excel*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}


/*
img {
  max-height: 75%;
}
*/
#key-project > a {
  color: #005577;
}
#key-project > a:hover {
  font-weight: bold;
}


/** LIGHTBOX MARKUP **/

.lightbox {
  display: none; /* Default to hidden */
  position: fixed; /* Overlay entire screen */
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em; /* A bit of padding around image */
  background: rgba(0, 0, 0, 0.5); /* Translucent background */
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}
span {
  text-align: center;
}
