
html, body, .main-grid {
	height: 100%;
}
body {
  overflow: hidden;
	margin: 0;
}
body, textarea, select, input:not([type="radio"]) {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #334;  
  font-size: 1rem;
}
h1 {
  margin: 0;
  color: #005577;
}
section {
  padding: 0.7rem;
}
select, input:not([type="radio"]) {
  background-color: #CEDEE5;
}
label.doneby-item {
  padding: 0.15rem;
}
input[type="radio"] {
  appearance: none;
  width: 14px;
  height: 14px;
  background: white;
  box-shadow: inset 0 0 0 .2em white, 0 0 0 .15em;
  border-radius: 50%;
  transition: .2s;
  cursor:pointer;
  color: #777;
  margin: 0;
  padding: 0;
}
input[type="radio"]:hover {
  background: #777;
  box-shadow: inset 0 0 0 .2em white, 0 0 0 .15em #777;
}
input[type="radio"]:checked {
  background:  #0072CE;
  box-shadow: inset 0 0 0 .2em white, 0 0 0 .15em #69B3E7;
} 
input[type="radio"]:focus { 
  outline: 0; 
}
textarea  {
  border: 1px solid #0072CE;
  border-radius: 0.5rem; 
}
textarea:focus, select:focus, input:focus { 
  outline: 1.5px solid #0072CE;  
}

/* FLEXBOX */
main.main-grid {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid #0072CE;
  margin: 1rem 10%;
  overflow: hidden;
  /*margin: 1rem auto 1.5rem;*/
  /*width: 70rem;*/
}
main.main-grid > div.header-grid {
  height: 115px;
}
main.main-grid > div.footer-grid {
  display: flex;
  flex-direction: row; 
  justify-content: stretch;
  align-items: stretch;
  height: 35px;
  padding: 0.3rem 0.7rem;
  background-color: #0072CE;
}
main.main-grid > div.footer-grid > span {
  display: block;
  flex: 1 1 50%;
  margin: 0;
  padding: 0;
  color: #FFF; 
  font-size: 0.7rem;
}
main.main-grid > div.footer-grid > span:last-child {
  text-align: right;
}
main.main-grid > div.content-grid {
  flex: 1 1 auto;
  overflow-y: scroll;
}
div.doneby-gridrow, div.menu-grid {
  display: flex;
  flex-direction: row; 
  /*flex-wrap: wrap;*/
  justify-content: flex-start;
  align-items: stretch;
}
div.doneby-gridcol {
  display: flex;
  flex-direction: column; 
  justify-content:flex-start;
  align-items: stretch;
  /*align-content: flex-start;*/
  flex: 1 1 auto;
  margin-right: 0.5rem;
}
.doneby-item {
  flex: 1 1 auto;
  border: 1px solid #0072CE;
  border-bottom: 0;
}
.doneby-item:last-child {
  border-bottom: 1px solid #0072CE;
}
div.menu-grid > a {
  flex: 1 1 auto;
  text-align: center;
  border: 1px solid #FF6633;
  margin-right: 0.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
}
div.menu-grid > span {
  flex: 1 1 60%;
}
div.menu-grid > a:last-child, div.doneby-gridcol:last-child {
  margin-right: 0;
}
div.menu-grid > a:hover {
  background-color: #F63;
  color: #FFF;
}
a.clicked {
  background-color: #F63;
  color: #FFF;
}
a.unclicked {
  background-color:  #FFF;
  color: #F63;
}
fieldset {
  display: flex;
  flex-direction: column; 
  justify-content:space-around;
  align-items: stretch;
  margin: 0 0 0.7rem;
  padding: 0.7rem;
  border: 2px solid #0072CE;  
  border-radius: 0.5rem;
}
legend {
  background: #0072CE;
  padding: 0rem 1rem 0.25rem;
  border-radius: 1rem;
  color: #FFF;
  font-weight: bold;
}
fieldset > a {
  color: #0072CE;
  font-weight: bold;
}
fieldset > a:hover {
  color: #F63;
}
fieldset > div.fs-header-grid {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
div.fs-header-item {
  width: 100px;
  border: 1px solid #0072CE;
  border-right: none;
  text-align: center;
  font-size: 0.9rem;
}
div.fs-header-item:first-child {
  border: none;
  border-bottom: 1px solid #0072CE;
}
div.fs-header-item:last-child {
  border-right: 1px solid #0072CE;
}
.fs-row-grid, .fs-comment-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.15rem;
}
.fs-row-item {
  text-align: center;
  width: 100px;
}
div.fs-header-item:nth-child(1), .fs-row-item:nth-child(1), .fs-comment-item:last-child {
  flex: 1 0 auto;
  text-align: left;
}
.fs-comment-item {
  padding-right: 0.5rem;
}
.fs-row-item > span {
  font-weight: bold;  
  padding-right: 0.5rem;
}
.fs-row-item > span.unchecked {
  color: #F00;
}
.fs-row-item > span.checked {
  color: #008000;
}
a.lightbox {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem; 
  background: rgba(0, 0, 0, 0.5);
}
a.lightbox:target {
  display: block;
}
a.lightbox > span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}